container_commands:
  01_node_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-v14.17.4-linux-x64 | head -1`/bin/node /bin/node"
  02_node_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-v14.17.4-linux-x64 | head -1`/bin/pm2 /bin/pm2"
  03_node_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-v14.17.4-linux-x64 | head -1`/bin/npm /bin/npm"
  04_install_jq:
    command: "sudo yum -y install jq"
  05_install_pm2:
    command: "sudo npm install -g pm2"
