container_commands:
    00_download_waf_script:
        command: "aws s3 cp s3://cofeapp-monitoring/waf.sh /tmp"
        ignoreErrors: true
    01_allow_execution:
        command: "sudo chmod +x /tmp/waf.sh"
        ignoreErrors: true
    02_run_waf_script:
        command: "sudo bash /tmp/waf.sh "
        ignoreErrors: true
