#APPLICATION
NODE_ENV=development
PORT=8080
HOST=localhost
JWT_SECRET=random-secret
TIMEZONE=Asia/Karachi
LOG_LEVEL=debug
API_PREFIX=v1
SERVER_URL=http://localhost:8080/v1
SWAGGER_HOST=ecom-dev-product.cofeapp.com
ENABLE_SLACK_WEBHOOKS=false

#REDIS
REDIS_HOST=localhost
REDIS_PORT=6379

#DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_USER=arif
DB_PASSWORD=arif1234
DB_NAME=ecom_products

# ELK Configuration
ELK_HOST=https://elk.cofeapp-engineering.com
ELK_USERNAME=elk-admin
ELK_PASSWORD=3MUCXbtV3VRLcWng2.
# SLACK Configuration
SLACK_CHANNEL=